<div id="ymFrameHolder" class="" style="display: block; bottom: 95px; opacity: 1;">

         <iframe scrolling="yes" allow="geolocation; microphone; camera; midi; encrypted-media;" allowtransparency="true" frameborder="0" allowfullscreen="" id="ymIframeId" src="https://botplatform.io/chat/?skin=&amp;origin=https://www.bajajallianz.com&amp;title=Chat with us&amp;title=Chat%20with%20us&amp;autoOpen=false&amp;handlers=%5Bobject%20Object%5D&amp;persistentNotification=true&amp;notification=true&amp;floatingIcon=true&amp;bot=bot_1493214269480"></iframe>     
</div>